version: "3"
services:
    portainer:
        image: portainer/portainer
        command: -H unix:///var/run/docker.sock
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        ports:
            - "9000:9000"
        deploy:
            placement:
                constraints: [node.role == manager]
    module:
        build:
          context: ../
          dockerfile: Dockerfile
        ports:
          - "80:80"